<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="haitt283@gmail.com"/>
  <add key="FromEmailPassword" value="Nabilhaitruong283"/>
  <add key="FromName" value="HaiTruong"/>
  <add key="AdminEmail" value="truongthanhhai283@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:44327/"/>
  <add key="EnableBundles" value="false"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="46838"/>
  <add key="MerchantPassword" value="Nabilhaitruong283"/>
  <add key="MerchantEmail" value="haitt283@gmail.com"/>
</appSettings>