
@{
    Layout = null;
}

<!DOCTYPE html>
@* ng-app khởi tạo module không có tên *@
<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    @* Đọc biến trong controller *@
    <div ng-controller="schoolController">
        <div ng-controller="teacherController">
            in student {{message}}
        </div>

        <div ng-controller="studentController">
            in teacher{{message}}
        </div>

        {{message}}
    </div>
</body>
</html>
